*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  
}

@font-face{
  font-family:alarm;
  src:url(alarm.ttf);
}

.cronometro{
  text-align:center;
font-size: 1rem;
} 

.boton{
  display:inline-block;
  width:32px;
  height:32px;
  position:relative;
}

#hms{
  height:68px;
  padding:5px 0;
  font-size:50px;
  color:#000;
  font-family: alarm;  
}

.iniciar{background:url(../img/start.png) 0 0 no-repeat;}
.parar{background:url(../img/pause.png) 0 0 no-repeat;}
.reiniciar{background:url(../img/delete.png)0 0 no-repeat;}