* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    
}

header {
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 20px;
    background-color:darkorange;
    text-align:left;
}

header a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.players{
    width: 20%;
    height: auto;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}


aside{
    flex: 30%;
    background-color: beige;
    padding: 20px;
}

section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: burlywood;

}

/* nuevo codigo*/
.flex-container{
    display: flex;
    justify-content: center;
  
    
}

.flex-tablero{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px grey;
    margin: 10px 10px 10px 30px;
    width: max-content;
}

.flex-fila{
    display: flex;
    width: max-content;
    background-color: khaki;
}

.cuadro{
    flex-wrap: nowrap;
    align-items: center;
    height: 9vw;
    width: 9vw;
   
}

.reverse{
    flex-direction: row-reverse;   
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}





@media screen and (max-width: 700px) {
    #play{
        flex-direction: column;
    }

    .cuadro {
        height: 11vw;
        width: 11vw;
        max-width: 100px;
        max-height: 100px;
      }
}


