* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:  1 rem ;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 5px;
  background-color:darkorange;
  text-align:left;
}

header a{
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  margin: revert;
  list-style: none;
}

a{
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
}

.flex-nav li {
  padding: 10px;
  margin-right: 0px;
  padding-right: 0px;
}

.flex-nav a{
  background:#ff8c00;
  min-height: 35px;
  margin-top: 11px;
  padding: 10px;
  color: white !important;
  border:1px solid #fff;color: #fff;
  padding: 14px 20px;
  text-decoration: none;
}

a:hover {
  color: #000 !important;
  box-shadow: 0px 0px 13px -5px rgb(0 0 0);    border-radius: 6px;
  transition: 0.5s;
}

.barranav {
  width: 1140px;
  margin: 0px auto;
  background-color: #999999;
  border-radius: 5px;
  max-width: 90%;
}

#principal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1%;
}

.row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: antiquewhite;
  width: max-content;
}

.row div{
  align-items: center;
  height: 4vw;
  width: 4vw;
  max-width: 100px;
  max-height: 100px;
}

.players1{
  align-self: flex-start !important;
  text-align: right;
  padding-right: 20px;
  width: 20%;
  height: auto;
}

.players2{
  align-self: flex-end !important;
  padding-left: 20px;
  width: 20%;
  height: auto;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

footer{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  text-align: center;
  background-color: burlywood;
}

.control{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: coral;
  height: unset !important;
}

#tableroHTML {
  width: max-content; 
  margin: auto;
  border: 5px solid #999999;
  border: radius 5px;
}

/* nuevo codigo*/
.flex-container{
  display: flex;
  justify-content: center;
}

.flex-tablero{
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 15px grey;
  margin: 10px 10px 10px 30px;
  width: max-content;
}

.flex-fila{
  display: flex;
  width: max-content;
  background-color: khaki;
}

.celda{
  flex-wrap: nowrap;
  align-items: center;
  height: 4vw;
  width: 4vw;
}

.pieza{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 85% !important;
  height: 85% !important;
  border: 2px solid black;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  background-color: white;
}

.pieza23{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color:none;
}

.piezan{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 85% !important;
  height: 85% !important;
  border: 2px solid black;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  background-color: grey;
}

.celdaR{
  border: 2px solid red;
}

.ce{
  border: 2px solid blue;
}

.reverse{
  flex-direction: row-reverse;   
}

.white{
  background-color: white;
}

.black{
  background-color: black;
}

.valid-mov{
  background-color: #d5dee4;
}

.mov.com{
  background-color: #cc332259;
}

.turn{
  background-color: brown;
}

/* Mejoras de diseño */

 #hms {
    height: 68px;
    padding: 4px 0;
    font-size: 3.1em;
    color: #000;
    font-family: alarm;
  }

  .cronometro {
    margin-right: 40px !important;
  }


button {
  background:#ff7f50;
  min-height: 35px;
  margin-top: 11px;
  padding: 10px;
  color: white !important;
  border:none;
}

button:hover {
  color: #000 !important;
  box-shadow: 0px 0px 13px -5px rgb(0 0 0);
  border-radius: 6px;
  transition: 0.5s;
}

.buttonactive {
  color: #000 !important;
  box-shadow: 0px 0px 13px -5px rgb(0 0 0);
  border-radius: 6px;
}   
/*
@media screen and (max-width: 700px) {
  #principal{
    flex-direction: column;
  }

  .row div {
    height: 6vw;
    width: 6vw;
    max-width: 100px;
    max-height: 100px;
  }
}
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 780px) {
 
  .row div {
    height: 6vw;
    width: 6vw;
    max-width: 100px;
    max-height: 100px;
  }

  #hms {
    height: 68px;
    padding: 4px 0;
    font-size: 3.1em;
    color: #000;
    font-family: alarm;
  }

  .cronometro {
    margin-right: 40px !important;
  }

 
button {
    background:#ff7f50;
    min-height: 35px;
    margin-top: 11px;
    padding: 10px;
    color: white !important;
    border:none;
  }

  button:hover {color: #000 !important;box-shadow: 0px 0px 13px -5px rgb(0 0 0);    border-radius: 6px;
     transition: 0.5s;
}

.buttonactive {color: #000 !important;box-shadow: 0px 0px 13px -5px rgb(0 0 0);    border-radius: 6px;
}

  #principal {
    display: flex;
    justify-content: center;
    margin: 1%;
    flex-wrap: wrap;
    flex-direction: column;
}

.players2 {    
  padding-left: unset !important;
    font-size: 1.0em;
    text-align: center;
    width: 100%;
    padding: 10px 0
}
.players1 {    
  padding-right: unset !important;
    font-size: 1.0em;
    text-align: center;
    width: 100%;
    padding: 10px 0

}

.flex-nav {

  font-size: 1em;
  margin: 5px 0;
}

header {
    
    justify-content: center !important;
    
}

header a {
  padding: 8px 15px;
}
.control {
  margin-top: 15px;
  flex-direction: column;
  justify-content:flex-start; 
  height: unset !important;
}



.cronometro {
  margin-right: unset !important;
    text-align: center;
    font-size: 0.7rem;
}

#hms {height: unset !important;}

}

button {margin-top: unset !important;}
.botones {text-align:center}

/* Smartphones (landscape) */
@media only screen and (min-width: 321px) {
}

@media (min-width: 1024px) and (max-width: 1920px) {
 .c-layout-footer-10 {
   padding: 120px 0 120px 0 !important;
 }
}

@media (min-width: 1368px) {

}

@media (min-width: 374px) and (max-width: 860px) {
 
 
 }

